@import '../module';

section.module {
    min-width: 220px;
    width: 16vw;
    height: 20vh;
    margin: 24px 0px;

    h2 {
        margin-top: 2px;
        padding-bottom: 3px;
    }

    div.drillDownButtons {
        margin-bottom: 8px;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        button {
            min-width: 57px;
        }
    }
}
