@import '../module';

section.module {
    margin: 0px 8px;
    min-width: 104px !important;

    h2 {
        margin-top: 2px;
        padding-bottom: 3px;
    }

    input {
        margin-top: 8px;
        width: 64px;
    }

    div.drillDownButtons {
        margin-bottom: -8px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;

        button {
            margin-bottom: 16px;
            width: 86px;
        }
    }
}
