//mobile-only styling

@import '../_partials/base.scss';

section.content {
    width: 96vw;
    margin: 0.4vh 2vw 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    main {
        align-items: flex-start !important;

        h2 {
            margin-left: 8px;
        }
    }
}
