* {
  margin: 0;
  padding: 0;
  position: relative;
  animation: all 400ms;
  transition: all 400ms;
}

body {
  overflow-x: hidden;
  background-color: #21272b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body h1 {
  font-family: "Oxanium", sans-serif;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 48px;
  align-self: center;
}
body h2,
body li.article {
  text-align: left;
  font-family: "Oxanium", sans-serif;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}
body h3 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
body li h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 4px;
  color: #fff;
}
body p {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 16px;
  color: #fff;
}
body li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 8px;
  color: #fff;
}
body .text-centered {
  text-align: center;
}
body a {
  text-decoration: none;
  font-family: "Oxanium", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}
body a:hover {
  border-color: #fff;
}
body label {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
body input {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
body input.submitButton {
  font-family: "Oxanium", sans-serif;
  font-weight: 800;
}
body p span.em {
  color: black;
}
body span.required {
  color: #000000;
}
body header {
  width: 100vw;
  border-bottom: 1px solid #090B0C;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: #131719;
}
body header a {
  font-family: "Oxanium", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  color: #8b939b;
  padding: 4px 8px;
  margin: 4px 8px;
  border-bottom: 1px solid transparent;
}
body header a:hover {
  color: #fff;
  border-bottom: 1px solid transparent;
}
body section.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}
body section.content main {
  width: 100%;
  height: 60vh;
  margin: 1vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body section.content main section {
  margin-top: 16px;
}
body section.content main section input {
  padding: 8px 10px;
  border: 0px solid transparent;
  border-radius: 1px;
  font-family: monospace;
}
body section.content main section button.submitButton {
  padding: 8px 12px;
  margin: 0px 0px 0px 16px;
  border: 0px solid transparent;
  border-radius: 4px;
}
body section.content section#results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body section.content section#results section.result {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 16px 0px;
}
body section.content section#results section.result .loading-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
body section.content section#results section.result .loading-icon:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: twirlywirl 1s linear infinite;
}
@keyframes twirlywirl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body header {
  z-index: 3;
}
body section.content {
  z-index: 2;
}

header {
  height: 8vh;
}

section.content {
  min-height: 90vh;
  width: 92vw;
  margin: 0.9vh 4vw 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.content main {
  width: 92vw;
  height: 64vh;
  margin: 1vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section.content main canvas {
  width: 96% !important;
  height: 96% !important;
  margin: 2%;
}
section.content section.modulesContainer {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
section.content section.modulesContainer section.module {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 140px;
  margin: 16px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 2px #131719;
}
section.content section.modulesContainer section.module h2 {
  width: 100%;
  border-bottom: 1px solid #fff;
  text-align: center;
}
section.content section.modulesContainer section.module input {
  padding: 8px 10px;
  border: 0px solid transparent;
  border-radius: 4px;
  box-shadow: 2px 2px 6px #666 inset;
}
section.content section.modulesContainer section.module input[type=number]::-webkit-inner-spin-button,
section.content section.modulesContainer section.module input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
section.content section.modulesContainer section.module input[type=number] {
  -moz-appearance: textfield;
}
section.content section.modulesContainer section.module div.drillDownButtons {
  margin: 4px 0px;
}
section.content section.modulesContainer section.module div.drillDownButtons button {
  padding: 8px 10px;
  margin: 2px 4px;
  border: 0px solid;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: white;
}
section.content section.modulesContainer section.module--food {
  border: 2px solid #ccac55;
}
section.content section.modulesContainer section.module--food button {
  background-color: #ccac55;
}
section.content section.modulesContainer section.module--water {
  border: 2px solid #5575cc;
}
section.content section.modulesContainer section.module--water button {
  background-color: #5575cc;
}
section.content section.modulesContainer section.module--fuel {
  border: 2px solid #cc7155;
}
section.content section.modulesContainer section.module--fuel button {
  background-color: #cc7155;
}
section.content section.modulesContainer section.module {
  min-width: 220px;
  width: 16vw;
  height: 20vh;
  max-height: 160px;
  margin: 24px 0px;
}
section.content section.modulesContainer section.module h2 {
  margin-top: 2px;
  padding-bottom: 3px;
}
section.content section.modulesContainer section.module input {
  padding: 8px 10px;
}
section.content section.modulesContainer section.module div.drillDownButtons {
  margin-bottom: 8px;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
section.content section.modulesContainer section.module div.drillDownButtons button {
  min-width: 57px;
}

.modal .modal-content {
  width: 30vw;
  min-width: 420px;
  min-height: 25vh;
}

/*# sourceMappingURL=dataPad_Large.css.map */
