* {
  margin: 0;
  padding: 0;
  position: relative;
  animation: all 400ms;
  transition: all 400ms;
}

body {
  overflow-x: hidden;
  background-color: #21272b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body h1 {
  font-family: "Oxanium", sans-serif;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 48px;
  align-self: center;
}
body h2,
body li.article {
  text-align: left;
  font-family: "Oxanium", sans-serif;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}
body h3 {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
}
body li h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 4px;
  color: #fff;
}
body p {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: justify;
  margin-bottom: 16px;
  color: #fff;
}
body li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 8px;
  color: #fff;
}
body .text-centered {
  text-align: center;
}
body a {
  text-decoration: none;
  font-family: "Oxanium", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  border-bottom: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}
body a:hover {
  border-color: #fff;
}
body label {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}
body input {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
body input.submitButton {
  font-family: "Oxanium", sans-serif;
  font-weight: 800;
}
body p span.em {
  color: black;
}
body span.required {
  color: #000000;
}
body header {
  width: 100vw;
  border-bottom: 1px solid #090B0C;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: #131719;
}
body header a {
  font-family: "Oxanium", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  text-align: center;
  text-decoration: none;
  color: #8b939b;
  padding: 4px 8px;
  margin: 4px 8px;
  border-bottom: 1px solid transparent;
}
body header a:hover {
  color: #fff;
  border-bottom: 1px solid transparent;
}
body section.content {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}
body section.content main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
body section.content main section {
  margin-top: 16px;
}
body section.content main section .llInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
}
body section.content main section .llInput input {
  padding: 8px 10px;
  margin: 4px 0px;
  border: 0px solid transparent;
  border-radius: 1px;
  font-family: monospace;
}
body section.content main section button.submitButton {
  padding: 8px 12px;
  margin: 8px 0px 0px 8px;
  border: 0px solid transparent;
  border-radius: 4px;
}
body section.content section#results {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 16px;
}
body section.content section#results section.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8px 0px 8px -28px;
}
body section.content section#results section.result .loading-icon {
  display: inline-block;
  height: 28px;
  width: 28px;
}
body section.content section#results section.result .loading-icon:after {
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  margin: 6px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: twirlywirl 1s linear infinite;
}
@keyframes twirlywirl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body section.content section#results section.result div {
  height: 28px;
  width: 28px;
}
body section.content section#results section.result .suitable {
  color: #b0cc55;
}
body section.content section#results section.result .notSuitable {
  color: #cc7155;
}
body section.content section#results section.result p {
  line-height: 28px;
  height: 28px;
  width: auto;
  margin: 0px 0px 0px 8px;
  font-weight: bold;
}
body section.content section#results #picture {
  border: 0px solid transparent;
  border-radius: 16px;
  max-width: 95vw;
  margin-bottom: 32px;
}
body header {
  z-index: 3;
}
body section.content {
  z-index: 2;
}

section.content {
  width: 100vw;
  margin: 0.4vh 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
section.content main h2 {
  margin-left: 8px;
}
section.content main section {
  display: flex;
  flex-direction: row !important;
  align-items: flex-start;
}
section.content main section button {
  margin-top: 30px !important;
  height: 32px;
}

/*# sourceMappingURL=dataPad_Large.css.map */
