//tablet-only styling

@import '../_partials/base.scss';

section.content {
    width: 100vw;
    margin: 0.4vh 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    main {

        h2 {
            margin-left: 8px;
        }

        section {
            display: flex;
            flex-direction: row !important;

            button {
                height: auto;
                line-height: 20px;
            }
        }
    }
}
