section.content {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: $z-content;

    main {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        section {
            margin-top: 16px;

            .llInput {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 8px;

                input {
                    padding: 8px 10px;
                    margin: 4px 0px;
                    border: 0px solid transparent;
                    border-radius: 1px;
                    font-family: monospace;
                }
            }


            button.submitButton {
                padding: 8px 12px;
                margin: 8px 0px 0px 8px;
                border: 0px solid transparent;
                border-radius: 4px;
            }
        }
    }

    section#results {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 16px;

        section.result {
            @import 'loading';

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 8px 0px 8px -28px;

            div {
                height: 28px;
                width: 28px;
            }

            .suitable {
                color: $color-pos;
            }

            .notSuitable {
                color: $color-neg;
            }

            p {
                line-height: 28px;
                height: 28px;
                width: auto;
                margin: 0px 0px 0px 8px;
                font-weight: bold;
            }
        }

        #picture {
            border: 0px solid transparent;
            border-radius: 16px;
            max-width: 95vw;
            margin-bottom: 32px;
        }
    }
}
