.loading-icon {
    display: inline-block;
    height: 28px;
    width: 28px;
}

.loading-icon:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 6px;
    border-radius: 50%;
    border: 2px solid $color-link;
    border-color: $color-link transparent $color-link transparent;
    animation: twirlywirl 1s linear infinite;
}

@keyframes twirlywirl {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
